<div class="col-sm-6">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <h2><a href='<%= repo.owner.html_url%>'><%= repo.owner.login %> </a> / <a href='<%= repo.html_url %>'><%= repo.name %> </a></h2>
	    <p><%= repo.description %> </p>
	    Watchers:  <%= repo.watchers_count %> <br/>
	    Stars: <%= repo.stargazers_count %> <br/>
	    Open Issues: <%= repo.open_issues_count %> <br/>
	  </div>
	</div>
</div>