<div class="col-sm-6">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <h2><a href='<%= repo.getInfo.owner.html_url%>'><%= repo.getInfo.owner.login %> </a> / <a href='<%= repo.getInfo.html_url %>'><%= repo.getInfo.name %> </a>
		    <form action="/repos/<%= repo.getInfo.owner.login %>/<%= repo.getInfo.name %>" method="post" enctype='application/x-www-form-urlencoded'>
		    	<input type="hidden" name="_method" value="delete"/>
			    <button type="submit" class="btn btn-default" aria-label="Right Align" style="float:right;">
				  <span class="glyphicon glyphicon-remove align-right" aria-hidden="true"></span>
				</button>
			</form>
		</h2>

		<% if( Object.keys(reviews).length > 0) { %>
			<% if( reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()] != undefined ){ %>
		        <% var total = 0; %>
		        <% reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()].reviews.forEach(function(rating){ %>
		           <% total += parseInt(rating.star) %>
		        <% }); %>
		        <% var avgRating = total / reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()].reviews.length %>
		        <strong>Average Rating</strong> <input id="rating-system" type="number" name="star" class="rating" min="1" max="5" step="1" readonly="true" value="<%= avgRating %>">
		    <% } %>    
	    <% } %>   

	    <p><%= repo.getInfo.description %> </p>
	    Watchers: <strong>  <%= repo.getInfo.watchers_count %> </strong> <br/>
	    Stars: <strong> <%= repo.getInfo.stargazers_count %> </strong><br/>	
	    # of Forks: <strong> <%= repo.getInfo.forks_count %> </strong><br/>
	    <br/>
	    Open Issues: <strong> <%= repo.getInfo.open_issues_count %> </strong><br/>
	    <br/>
	   	Last Updated: <strong> <%= repo.getInfo.updated_at %> </strong><br/>
	    <br/>
	    
	    Primary Language: <strong> <%= repo.getInfo.language %> </strong><br/>
	    <br>	    
	    <h2>Commit Activity</h2>
	    <h3>Commits for day of the week</h2>
	    <div>
		    <a href="<%= repo.commitGraph %>" target="_blank" title="y" style="display: block; text-align: center;"><img src="<%= repo.commitGraph %>.png" alt="y" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
		    <script data-plotly="peterpod:<%= repo.commitGraph.split('/')[repo.commitGraph.split('/').length-1] %>"  src="https://plot.ly/embed.js" async></script>
		</div>

	    <br/>
	    <br>
	    <br>
	    <a href='/repos/review/add/<%= repo.getInfo.owner.login %>/<%= repo.getInfo.name %>' class="btn btn-default" aria-label="Left Align">Add Review</a>
	    <% var address = repo.getInfo.owner.login+'/'+repo.name %>
	    <% if( reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()] != undefined ){ %>
	    	<a href='/repos/review/<%= repo.getInfo.owner.login %>/<%= repo.getInfo.name %>' class="btn btn-default" aria-label="Left Align">Load Reviews</a>
	    <% } %> 
	  </div>
	</div>
</div>