<div class="col-sm-6">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <h2><a href='<%= repo.owner.html_url%>'><%= repo.owner.login %> </a> / <a href='<%= repo.html_url %>'><%= repo.name %> </a>
		    <form action="/repos/<%= repo.name %>" method="post" enctype='application/x-www-form-urlencoded'>
		    	<input type="hidden" name="_method" value="delete"/>
			    <button type="submit" class="btn btn-default" aria-label="Right Align" style="float:right;">
				  <span class="glyphicon glyphicon-remove align-right" aria-hidden="true"></span>
				</button>
			</form>
		</h2>
	    <p><%= repo.description %> </p>
	    Watchers:  <%= repo.watchers_count %> <br/>
	    Stars: <%= repo.stargazers_count %> <br/>
	    Open Issues: <%= repo.open_issues_count %> <br/>
	    <br>
	    <a href='/repos/review/add/<%= repo.owner.login %>/<%= repo.name %>' class="btn btn-default" aria-label="Left Align">Add Review</a>
	    <% var address = repo.owner.login+'/'+repo.name %>
	    <% if( reviews[repo.owner.login+'/'+repo.name] != undefined ){ %>
	    	<a href='/repos/review/<%= repo.owner.login %>/<%= repo.name %>' class="btn btn-default" aria-label="Left Align">Load Reviews</a>
	    <% } %> 
	  </div>
	</div>
</div>