

	<div class="col s12 m6" id='<%= repo.getInfo.owner.login %>_<%= repo.getInfo.name%>'>
	  <div class="card">
	    <h3><a href='<%= repo.getInfo.owner.html_url%>'><%= repo.getInfo.owner.login %> </a> / <a href='<%= repo.getInfo.html_url %>'><%= repo.getInfo.name %> </a>
		    <form action="/repos/<%= repo.getInfo.owner.login %>/<%= repo.getInfo.name %>" method="post" enctype='application/x-www-form-urlencoded'>
		    	<input type="hidden" name="_method" value="delete"/>
		    		<button type="submit" class="btn-floating btn-large waves-effect waves-light" aria-label="Right Align" style="float:right; margin-top:-1.5em">
							<h5>x</h5>
						</button>
				</button>
			</form>
		</h3>
		<h4 id='<%= repo.getInfo.owner.login %>_<%= repo.getInfo.name%>_grade'>Grade: </h4>

		<% if( Object.keys(reviews).length > 0) { %>
			<% if( reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()] != undefined ){ %>
		        <% var total = 0; %>
		        <% reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()].reviews.forEach(function(rating){ %>
		           <% total += parseInt(rating.star) %>
		        <% }); %>
		        <% var avgRating = total / reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()].reviews.length %>
		        <strong>Average Rating</strong> <input id="rating-system" type="number" name="star" class="rating" min="1" max="5" step="1" readonly="true" value="<%= avgRating %>">
		    <% } %>    
	    <% } %>   

	    <p><%= repo.getInfo.description %> </p>
	    Watchers: <strong>  <%= repo.getInfo.watchers_count %> </strong> <br/>
	    Stars: <strong> <%= repo.getInfo.stargazers_count %> </strong><br/>	
	    # of Forks: <strong> <%= repo.getInfo.forks_count %> </strong><br/>
	    Open/Closed Issues: <strong> <%= repo.getInfo.open_issues_count %> open </strong> / <strong> <%= repo.closedIssueInfo.total_count %> closed </strong><br/>
	   	(<strong><%= ((repo.getInfo.open_issues_count/repo.closedIssueInfo.total_count) * 100).toFixed(2) %>% </strong> of issues are open)<br/>
	    <br/>
	   	Last Updated: <strong> <%= new Date(repo.getInfo.updated_at ).toLocaleDateString("en-US")%> </strong><br/>
	    <br/>
	    
	    Primary Language: <strong> <%= repo.getInfo.language %> </strong><br/>
	    <br>	    
	    <h5 style='margin:0px;'>Commit Activity</h5>
	    	<% if (repo.commitWeeklyGraph != undefined) { %>
	    		<h6 style='margin:0px;'>Commits per days of Week</h>
	    		<div>
				    <a href="<%= repo.commitWeeklyGraph %>" target="_blank" title="y" style="display: block; text-align: center;"><img src="<%= repo.commitWeeklyGraph %>.png" alt="y" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
				    <script data-plotly="peterpod:<%= repo.commitWeeklyGraph.split('/')[repo.commitWeeklyGraph.split('/').length-1] %>"  src="https://plot.ly/embed.js" async></script>
				</div>
			<% } %>
			<% if (repo.commitDateGraph != undefined) { %>
			    <h5 style='margin:0px;'>Commit History</h5>
			    <div>
				    <a href="<%= repo.commitDateGraph %>" target="_blank" title="y" style="display: block; text-align: center;"><img src="<%= repo.commitDateGraph %>.png" alt="y" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
				    <script data-plotly="peterpod:<%= repo.commitDateGraph.split('/')[repo.commitDateGraph.split('/').length-1] %>"  src="https://plot.ly/embed.js" async></script>
				</div>
			<% } %>
	    <br/>
	    <br>
	    <br>
	    <a href='/repos/review/add/<%= repo.getInfo.owner.login %>/<%= repo.getInfo.name %>' class="btn btn-default" aria-label="Left Align">Add Review</a>
	    <% var address = repo.getInfo.owner.login+'/'+repo.name %>
	    <% if( reviews[repo.getInfo.owner.login+'/'+repo.getInfo.name.toLowerCase()] != undefined ){ %>
	    	<a href='/repos/review/<%= repo.getInfo.owner.login %>/<%= repo.getInfo.name %>' class="btn btn-default" aria-label="Left Align">Load Reviews</a>
	    <% } %> 
	  </div>
	</div>